body {
	background-image:url(https://i.pinimg.com/474x/8b/66/61/8b6661ae0875fbd4cad9397640bdf747.jpg);
	color : white
	font-family: modern love;   
	font-weight: 100;
	text-align: center;

}

h1 {
	color : #865858;
	font-family: ;

}

h2{
	color: #80604D;
}



/* Custom design with class */


.container {
	width :700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container{
		width: 600px; 
	}
}

@media (max-width: 500px) {
	.container{
		width: 400px; 
	}
}

.card-white {
	background-color: rgb(229,218,206);
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.2)
	border-radius : 40px;
	margin: 20px 0px;
	text-align: center;

}

.img-circle {
	border-radius: 50%
	
}

.btn-blue {
	background-color: #c6a9a3;
	color: white;
	padding: 10px 10px;
	border-radius: 4px;
	text-decoration: none;
}
 .btn-blue:hover{
 	background-color: #350b40;
 	color: white;
 }

.list-inline li{
	display: inline;
	list-style: none;
	padding-left: 10px;
	text-decoration: none;
}

.list-inline:hover {
	background-color: #350b40
	color: white;
}

.list-inline i {
	font-size: 40px;
}

}
.list-inline i {
	font-size: 50px;
	color: rgb(196, 105, 143);
}